---
//Importando la fuente 
import "@fontsource-variable/onest"

//Impotando la función que trae los servicios desde la API
import { getServices } from "../api/services"

//Componentes que serán usados dentro de este documento
import Layout from '../layouts/Layout.astro'
import SectionTitle from "../components/SectionTitle.astro"
import MainteinanceCard from '../components/MainteinanceCard.astro'
import ServiceCard from "../components/ServiceCard.astro"
import ContactForm from "../components/ContactForm.astro"

//Importando SVG, pero en formato astro para poder controlar sus propiedades mediante tailwind
import WhatsApp from "../../public/icons/WhatsApp.astro"

//Array de objetos que contienen la información que se le pasará a cada MaintainceCard
const mainteinances = [
	{
		title: "Mantenimiento",
		description: "Conjunto de operaciones y cuidados necesarios para que tus instalaciones continúen funcionando correctamente."
	}, 
	{
		title: "Mantenimiento preventivo",
		description: "Ayuda a prolongar la vida útil de tus activos y aumenta la productividad, a través de una revisión."
	}, 
	{
		title: "Mantenimiento correctivo",
		description: "Corrige problemas o daños en las instalaciones o equipos."
	}
] 

//Este array almacena los servicios a renderizar en el html
let services = []

/**
*	Obteniendo los servicios de la API y guardandolos en el array de servicios para luego mostrarlos
*/
async function loadServices() {
  try {
    services = await getServices('http://localhost/energyandwater/controller/ServicesController.php');
  } catch (error) {
    console.error(error)
  } 
}

await loadServices()
---

<Layout title="Inicio - Energy & Water" desciption="Energy & Water - Mantenimiento para edificios">
	<main class="flex flex-col items-center space-y-28 m-auto pt-24 px-8 z-0 max-w-[1400px]">
		<!--Sección de la imagen principal junto con los textos -->
		<section class="flex flex-col justify-center items-center">
			<img src="/logo.jpeg" alt="Imagen del home el cual muestra a hombres haciendo mantenimiento de aire acondicionado">
			<div class="text-center pt-4">
				<h1 class="text-white text-2xl sm:text-3xl font-extrabold shadow-primary"><span class="bg-gradient-to-r from-stone-300 via-stone-300 to-stone-300 text-transparent bg-clip-text">Mantenimiento para edificios</span></h1>
				<h3 class="text-gray-400 text-lg sm:text-xl font-bold">CLIMATIZACIÓN, ELECTRICIDAD Y OBRAS MENORES DE CONSTRUCCIÓN.</h3>
			</div>
		</section>


		<!--Sección de mantenimiento -->
		<section class="flex sm:flex-row flex-col space-x-4 text-center">
			{//Iterando el arreglo de mainteinances para transformar cada uno de sus objetos en una MaintainanceCard
				mainteinances.map((mainteinance) => (
					<MainteinanceCard title={mainteinance.title} description={mainteinance.description}/>
				))
			}
		</section>
		

		<!--Sección de los servicios obtenidos desde la API -->
		<section id="services" class="services flex flex-col space-y-4 items-center pt-10">
			<SectionTitle title="Nuestros Servicios"/>
			<div class="sm:grid sm:grid-cols-2 flex flex-col items-center">
				{//Iterando los el arreglo de servicios para mostrar cada uno a través de una ServiceCard
					services.map((service) => (
						<ServiceCard title={service.vch_service_name} description={service.vch_description} imgURL={service.vch_url_img}/>
				))}
			</div>
		</section>


		<!--Sección de contacto -->
		<section class="flex flex-col space-y-4 items-center pt-10">
			<SectionTitle title="¿Tienes alguna pregunta o deseas cotizar nuestros servicios?"/>
			<h2 class="text-stone-200 text-lg font-bold">Puedes contactarnos a través de:</h2>
			<div class="flex flex-col items-center">
				<WhatsApp class="size-10 hover:scale-110 transition cursor-pointer"/>
				<p class="text-stone-300">WhatsApp</p>
			</div>
			<p class="text-stone-300">O</p>
			<!-- <a transition:animate="initial" href="/contactForm"> -->
				<button type="button" id="showFormButton" class="bg-red-600/30 hover:bg-red-600/60 shadow-sm shadow-black backdrop-blur-md text-stone-300 rounded-xl inline-flex justify-center items-center gap-x-2 py-2 px-4 md:py-2 md:px-4 text-sm md:text-base transition font-bold hover:scale-110 cursor-pointer">Nuestro formulario de contacto</button>
			<!-- </a> -->
		</section>
	</main>

	<ContactForm />
</Layout>

<script>
	//Atomo(estado) que permitirá manejar el estado para mostrar el formulario. Esto es posible gracias a la librería de Nano Store
	import { isContctUsFormOpen } from '../store.js'

	//Referencia al DOM
	const showFormButton = document.getElementById('showFormButton')

	/**
	*	Función que se encargará de ejecutar el cambio de estado para poder abrir el formulario
	*/
	const handleShowForm = () =>  {
		isContctUsFormOpen.set(true)
	}

	//Ejecuta la acción de abrir el formulario
	showFormButton.addEventListener('click', handleShowForm)
</script>

<style>
	* {
		font-family: "Onest Variable", system-ui, sans-serif;
	}

	img { 
		width: 25%;
		border-radius: 100%;
	}
</style>
